@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trabajo de MVC</h1>
    <p><a href="https://www.youtube.com/watch?v=yGdKX_Wj-2Q" class="btn btn-primary btn-lg">Video Especial &raquo;</a></p>
    <p>@ViewData["CurrentDateTime"]</p>
    <p>Se actualizarán los datos de aplicación y los datos de Sesión una vez que haya Ingresado o Modificado datos de una tabla respectivamente (Insertar inicia la Aplicación y Modificar la Sesión).</p>
    <p><b>Datos de Aplicación:</b>@ViewBag.ApplicationCtx</p>
    <p><b>Datos de Sesion:</b> @Session["StartedSession"]</p>
</div>