@model List<MVC.Models.CategoriesView>


@{
    ViewBag.Title = "Categorias";
}

<h2>Index</h2>

<table class="table-striped">

    <tr>
        <td>ID:</td>
        <td>Nombre:</td>
        <td>Descripción:</td>

    </tr>
    @foreach (var categoria in Model)
    {
        <tr>
            <td>@categoria.ID</td>
            <td>@categoria.CategoriaNombre</td>
            <td>@categoria.Descripcion</td>
        </tr>
    }
</table>
<div>@Html.ActionLink("Insertar", "Insert", "Categorias")</div>

