@model MVC.Models.CategoriesView
@{
    ViewBag.Title = "Agregar o modificar una categoria";
}

<h2>Insertar</h2>

@using(Html.BeginForm("Insert","Categoria", FormMethod.Post))
{
    <div>Descripción: @Html.TextBoxFor(r=>r.Descripcion)</div>
    <input type="submit" name="Guardar"/>
}